* {
    font-family: 'Lilita One', cursive;
}

body {
    background-color: #efefef;
}

.header {
    display: grid;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
}

#meme_generator {
    margin: 10px auto;
    position:relative;

}


#meme_generator input {
    width: 100%;
    margin: 10px 0;
}

#submit {
    cursor: pointer;
    text-align: center;
    background-color: #ffff;
    max-width: 200px;

}

#submit:hover {
    background-color: black;
    color: #efefef
}

.meme {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    padding: 20px;
    text-align: center;
}

.upperText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 250%;
    color: white;
    top: 10%;
    z-index: 2;
    text-transform: uppercase;;
}

.lowerText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 250%;
    color: white;
    bottom: 15%;
    z-index: 2;
    text-transform: uppercase;
}

.meme img {
    max-width: 100%;
    z-index: 2;
}

.button {
    position: absolute;
}

